## A basic GitHub Actions workflow for your Quarkus application.

name: CI build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: 21
          distribution: temurin
          cache: maven

      - name: Checkout Camel
        uses: actions/checkout@v5
        with:
          repository: apache/camel
          ref: main
          path: camel
      - name: Install camel-telegram
        run: |
          cd camel
          mvn -pl components/camel-telegram -am install -DskipTests

      - name: Build
        run: ./mvnw verify -B
